@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
  font-family: 'ScheherazadeNew';
  src: url('../fonts/ScheherazadeNew-Regular.ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
  font-family: 'GemunuLibre';
  src: url('../fonts/GemunuLibre.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    max-width: 900px;
    text-align: center;
    padding: 30px 50px;
}
.wrapper .title{
    font-size: 35px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.wrapper .subtitle{
    font-size: 35px;
    font-weight: 500;
    font-family: 'ScheherazadeNew', sans-serif;
}
.wrapper hr{
    border-top: 2px solid #db830f;
    border-bottom: 4px solid #101010;
}
.wrapper .message{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.wrapper .error{
    color: #fc1d00;
}
.wrapper .title span{
    font-weight: 700;
}
.wrapper form{
    margin: 10px 0;
}
form .email-field{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .email-field input{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 18px;
}
form .email-field button{
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'GemunuLibre', sans-serif;
    cursor: pointer;
    transition: background 0.3s ease;
}
form .email-field button:hover{
    background: #db830f;
}