table#career {
    text-align: center;
    margin: auto;
    width: 100%;
}

table#career td{
    background: #cecece;
    padding: 10px;
    border: 5px solid #ffffff;
}

table#career td:hover{
    background: #aaaaaa;
}

table#career a{
    text-decoration: none;
    color: #505050;
}

table#career td#iframe{
    background-color: transparent;
    margin: 5px;
    
}

iframe#curriculum {
    width: 100%;
    height: 500px;
}