div#text{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
}
div#minhafoto {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
}
div#minhafoto img{
    width: 100%;
    box-shadow: 2px 2px 1px #aaaaaa;
}