ul#projects li {
    background: #eeeeee;
    max-width: 30%;
    box-shadow: 2px 2px 3px #505050;
    padding: 10px;
    border: 1px solid #dedede;
    overflow: hidden;
    transition: all .3s ease-in;
}

ul#projects li:hover {
    -webkit-transform: scale(1.3);
}

img.project-image{
    max-width: 100%;
}

ul#projects a {
    text-decoration: none;
    color: #000000;
}