
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    background: #bbbbbb;
}

div#interface {
    background: #ffffff;
    box-shadow: 2px 2px 1px #707070;
}

div#header {
    
}

div#header h1{
    padding: 30px 30px 15px 30px;
    margin-top: 0px;
    font-family: 'Poiret One', cursive;
    font-size: 26pt;
    color: #000000;
}

ul#menu {
    text-align: right;
    list-style: none;
    position: relative;
    background: #eeeeee;
}

ul#menu li{
    display: inline-block;
    padding: 10px;
    background: #bbbbbb;
    
}

ul#menu li:hover{
    background: #808080;
}

ul#menu a{
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
}

div#brazil {
    text-align: right;
}

img#brazil {
    max-width: 30px;
}

div#body-title {
    padding-left: 15px;
}

div#body-title h1 {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #707070;
    font-size: 20pt;
    margin-bottom: 0;
}

div#body-title h2 {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #707070;
    font-size: 12pt;
    margin-top: 0;
}

div#body-title h2 a {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #707070;
}

div#body {
    padding: 15px 15px 15px 15px;
}

div#body p{
    text-indent: 20px;
    text-align: justify;
    font-family: sans-serif;
    margin: 0px;
}